.page {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
    Cantarell, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, Arial, sans-serif;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px auto;
}

@media only screen and (min-width: 800px) {
  .introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
  }
}

.introduction__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 16px;
  padding-right: 16px;
}

@media only screen and (min-width: 800px) {
  .introduction__profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.introduction__synopsis {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.introduction__title {
  margin: 0;
  margin-top: 48px;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.introduction__lifespan {
  position: relative;
  margin: 0;
  margin-top: 24px;
  margin-left: 64px;
  font-size: 28px;
  text-transform: uppercase;
}

.introduction__lifespan:before {
  position: absolute;
  content: '';
  width: 48px;
  height: 50%;
  left: -64px;
  border-bottom: 1px solid #cdcdcd;
}

.introduction__quote {
  margin: 0;
  margin-top: 48px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  letter-spacing: 1px;
}

.introduction__navigation {
  margin: 0;
  margin-top: 64px;
}

.introduction__picture {
  max-width: 100%;
  height: auto;
  border: 1px solid #efefef;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
  display: inline-block;
  border: 1px solid #dedede;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
}

.button:hover {
  text-decoration: underline;
}

.button--primary {
  background-color: #222;
  color: #efefef;
}

.button--secondary {
  background-color: #efefef;
  color: #222;
}

.button--shifted {
  margin-left: 8px;
}

.biography {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 64px;
  background-color: #efefef;
  color: #222;
}

.biography__container {
  margin: auto;
  padding-left: 32px;
  padding-right: 32px;
}

@media only screen and (min-width: 800px) {
  .biography__container {
    width: 800px;
  }
}

.biography__title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px #cdcdcd;
  letter-spacing: 1px;
}

.biography__text {
  margin-top: 48px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  line-height: 32px;
}

.selected-works {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 64px;
  background-color: #222;
  color: #efefef;
}

.selected-works__container {
  margin: auto;
  padding-left: 32px;
  padding-right: 32px;
}

@media only screen and (min-width: 800px) {
  .selected-works__container {
    width: 800px;
  }
}

.selected-works__title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.selected-works__list {
  margin-top: 24px;
  padding: 0;
  list-style: none;
}

.selected-works__list-item {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  margin-top: 12px;
  margin-left: 32px;
}

.selected-works__list-item::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 50%;
  left: -24px;
  border-bottom: 1px solid #cdcdcd;
}
