@import 'normalize';

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$red: rgb(220, 80, 80);
$orange: rgb(255, 155, 0);
$yellow: rgb(255, 210, 0);
$green: rgb(90, 185, 90);
$blue: rgb(0, 120, 215);
$teal: rgb(90, 190, 220);

$gray-dark: rgb(45, 45, 45);
$gray-normal: rgb(95, 95, 95);
$gray-light: rgb(145, 145, 145);
$gray-lighter: rgb(195, 195, 195);
$gray-lightest: rgb(235, 235, 235);

$spacer: 1rem;

$default-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$default-font-size: 1rem;
$default-line-height: 1.5rem;
$default-font-weight: normal;
$default-color: $gray-dark;
$default-background: $white;

$heading1-font-size: 2.5rem;
$heading2-font-size: 2rem;
$heading3-font-size: 1.75rem;
$heading4-font-size: 1.5rem;
$heading5-font-size: 1.25rem;
$heading6-font-size: 1rem;
$headings-margin-top: 0;
$headings-margin-bottom: $spacer / 2;
$headings-font-weight: 500;
$headings-line-height: 1.1;

$paragraph-margin-top: 0;
$paragraph-margin-bottom: $spacer / 2;

$link-color: $blue;
$link-text-decoration: none;
$link-hover-color: darken($blue, 15%);
$link-hover-text-decoration: underline;
$link-active-color: darken($blue, 15%);
$link-visited-color: darken($blue, 15%);

$list-margin-top: 0;
$list-margin-bottom: $spacer;

$blockquote-padding-top-bottom: ($spacer / 2);
$blockquote-padding-left-right: ($spacer / 2);
$blockquote-margin-bottom: $spacer;
$blockquote-border-width: ($spacer / 2);
$blockquote-border-color: $gray-lightest;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

[hidden] {
  display: none !important;
}

body {
  font-family: $default-font-family;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
  line-height: $default-line-height;
  color: $default-color;
  background-color: $default-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $headings-margin-top;
  margin-bottom: $headings-margin-bottom;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
}

h1 {
  font-size: $heading1-font-size;
}

h2 {
  font-size: $heading2-font-size;
}

h3 {
  font-size: $heading3-font-size;
}

h4 {
  font-size: $heading4-font-size;
}

h5 {
  font-size: $heading5-font-size;
}

h6 {
  font-size: $heading6-font-size;
}

p {
  margin-top: $paragraph-margin-top;
  margin-bottom: $paragraph-margin-bottom;
}

a {
  color: $link-color;
  text-decoration: $link-text-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-text-decoration;
  }
}

ul, ol, dl {
  margin-top: $list-margin-top;
  margin-bottom: $list-margin-bottom;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

blockquote {
  margin: 0;
}

blockquote {
  padding: $blockquote-padding-top-bottom $blockquote-padding-left-right;
  margin-bottom: $blockquote-margin-bottom;
  border-left: $blockquote-border-width solid $blockquote-border-color;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-thumbnail {
  border: 1px solid $gray-lighter;
  padding: ($spacer / 4);
}
